*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

body{
  background-color: #f6f8fa;
}

header{
  background-color: white;
}

header .logo{
  padding: 10px;
  padding-left: 25px;
  vertical-align: middle;
}

header span{
  font-size: 40px;
  vertical-align: middle;
}

.container-list{
  width: 785px;
  height: 585px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 10px;
  padding-left: 50px;
  padding-top: 5px;
  border-radius: 10px;
  background-color: white;


}

.main-top{
  padding-top: 10px;
}

.button{
  height: 25px;
  border-radius: 5px;
  border: 1px solid #f6f8fa;
  text-align: center;
  font-size: 11px;
  padding: 0 5px;
}

.button.button-primary{
  background-color:#42afea;
  color: white;

}

.button.button-secondary{
  background-color: white;
  color: lightgrey;
  border-color: lightgrey;
}
